/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
    padding: 0;
    margin: 0;
  }
  body {
    font-family: "GOOD KARMA", sans-serif;
  }
  header {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    color: beige;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header h1 {
    color: rgb(47, 99, 148);
    text-align: center;
  }

  header h2{
    color:antiquewhite
  }

  .header-list {
    display: flex;
    align-items: center;
  }
  header ul {
    display: flex;
  }
  header li {
    list-style: none;
    margin-right: 40px;
  }

  .header-sentence{
    color: black;
    font-size: 50px;
  }

  .home{
 font-size: 40px;
  }

 .person{
  font-size: 40px;
 }
 .login{
  font-size: 40px;
  margin-right: 600px;
 }
 .personadd{
  font-size: 30px;
 }